#button-copier {
    padding:0;
    margin:0;
    border:0;
    background: transparent;
    cursor: pointer;
}

.item {
    display: inline-block;
    filter: blur(0px) saturate(100%) brightness(100%) invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: all .5s cubic-bezier(0.25, 1, 0.5, 1);
}
.item:hover {
    scale: 1.25;
    position: relative;
    z-index: 50;
}
.item img {
    width: 88px;
    height: 31px;
    /* image-rendering: pixelated; */
}
.group:hover > :not(.item:hover) {
    filter: blur(2px) saturate(0%) brightness(50%) invert(11%) sepia(42%) saturate(397%) hue-rotate(199deg) brightness(97%) contrast(98%);
}
.group {
    display: flex;
    flex-direction: row;
    gap:5px;
    justify-content: center;
    flex-wrap: wrap;
}

.set {
    display: flex;
    flex-direction: column;
    gap:1rem;
}