html {
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
}

body {
    margin: 0;
}

.bg {
    content: "";
    position: absolute;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    top:0;
    opacity:0.25;
    left:0;
    background: url('/assets/images/stars.png');
}

.container {
    width: 750px;
    position: relative;
    display: flex;
    font-family: MS Gothic, monospace;
    gap:.5em;
    flex-direction: column;
    color: #464367;

    padding-top:10px;
    padding-left: 50px;
    padding-right: 50px;

    background: white;
    margin:0;
    height: 100vh;

    z-index: 2;
    /* filter: saturate(0%); */
    image-rendering: pixelated;

    border-left: 1px dashed #8d8cd093;
    border-right: 1px dashed #8d8cd093;
}

img, .filter {
    filter: saturate(0%) brightness(90%) invert(11%) sepia(42%) saturate(397%) hue-rotate(199deg) brightness(97%) contrast(98%);
}

/* mraow */
hr {
    border:none;
    border-top: 2px dotted #8d8cd0;
    height:0;
    margin:0;
    box-sizing: content-box;
}

fieldset {
    position: relative;
    background-color: white;
    border-color: #8d8cd0;
}

nav a {
    text-decoration: underline;
}

nav a:hover {
    background-color: gray;
    color:white;
    cursor: pointer;
}

nav a:hover::before {
    content: "→ ";
}

.messy {
    border:none;
    position: relative;
    height:5px;
    margin:0;
    width: 750px;
    overflow: visible;
}

.messy::after {
    content: "";
    position: absolute;
    background: url("/assets/images/messy-hr.png");
    width: 750px;
    border: none;
    height: 30px;
    left:0;
    top:50%;
    transform: translateY(-50%);
}

/* decorations */
.bg-deco1 img {
    width: 100%;
}

.bg-deco1 {
    position: absolute;
    top:0;
    left:0;
    width: 850px;
    image-rendering: auto;
    opacity:0.05;
    display: block;
    pointer-events: none;
}

.bg-deco1::after {
    content: '';
    display: block;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    background: linear-gradient(to bottom, transparent, transparent 70%, white);
}

.flex {
    display: flex;
    gap: .5em;
}