.header-title {
    display: flex;
    align-items: center;
    gap:1em;
}

.header-title h1 {
    margin: 0;
    width:fit-content;
    font-family:Arial, Helvetica, sans-serif;
    transform: scaleX(2);
    transform-origin: 0% 50%;
    z-index: 4;
}

.header-title img {
    object-fit: cover;
    flex-grow: 1;
    height: 50px;
}

/* sticky note */
.sticky-note {
    position: absolute;
    right:-40px;
    top:-30px;
    height: 200px;
    font-family: serif;
}

.sticky-note img {
    height: 100%;
}

.sticky-note p {
    position: absolute;
    width:250px;
    top:50%;
    left:50%;
    overflow: hidden;
    margin:0;
    text-align: center;
    transform: translate(-50%, -50%) rotate(-9deg);
}

.note-padding {
    float: right;
    width: 150px;
    height: 150px;
}

.space-deco1 {
    background: url("/assets/images/7_49.gif");
    width:500px;
    height:100%;

    background-size: 300%;
    background-position: 100% 100%;
}

.barcode {
    opacity: 0.25;
}