{% extends "_base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}
{% block content %}
    <h1 style="color: #8d8cd0; margin-bottom: 0; position: relative; top:2px; left:2px; display:flex; align-items:center; background-color: white;">ivrry.nekoweb.org<img class="heart" src="https://blob.gifcities.org/gifcities/MOBGFUFEKN57T3EIR24WY7AIVOF42SJS.gif" style="display: inline-block; height:39px;"></h1>
    <h1 style="position: absolute; top: 1em; margin-top: 0; font-size: 3em; transform-origin: 0px 0px; transform: rotate(180deg) scaleX(-1) scaleY(5) translateY(-.8em); opacity:0.08; height: 10%">ivrry.nekoweb.org</h1>
    <div style="margin-left:100px; position: relative;">
        <div style="width: 10px; background: #8d8cd0; height: 20px; position:absolute; z-index: 4;"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 20px; top: -35px; left: -20px; height: 50px; position:absolute; border-left: 1px black solid; border-bottom: 1px black solid;"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 50px; top: -10px; left: -65px; height: 50px; position:absolute; border-right: 1px black solid; border-bottom: 1px black solid;"></div>
        
        <h2 style="transform: scaleX(4); transform-origin: 0px 0px;">about</h2>
        <p>hello! i'm noelle [willows/undrscre/wheathrea] <span class="subtext">(they're interchangable)</span></p>
        <p>i am a
            <ul style="position: relative">
                <li style="position: absolute; top: -2; left: -20px;">furry</li>
                <li style="position: absolute; top: 16px; left: 0px; ">programmer(supposedly)</li>
                <li style="position: absolute; top: 33px; left: 20px;">musician</li>
                <li style="position: absolute; top: 55px; left: 40px;">designer(allegedly)</li>
            </ul>
        </p>
        <div style="position: absolute; left: 220px; top: 80px;">
            <p>old inherited description:</p>
            <blockquote style="border-left: 2px solid black; padding-left: 10px; opacity: 0.4;">
                <p>
                    i'm <span style="background-color: black; color:white;">noelle willows</span> <span class="subtext">fka ████</span>
                    i'm a furry, programmer, musician and video game lover who likes
                    to do all sorts of things <span class="subtext">(aslong as it's in my interests)</span>
                </p>
                <p>
                    i have been dabbling in'n'out of programming for about...<br> 2 years now!
                    but i've never really gotten that good at them haha :_), although
                    i have some experience in languages like js, python, gdscript
                    and <i>barely</i> in rust, c++ and go
                </p>
                <p>
                    i also love old video games and messing around with programs in unexpected ways :3c
                    ..and for once every blood moon, i like to draw and make music<br>
                    and this site is a way for me to showcase all of that!
                </p>
                <p>
                    i don't really have much to say about me as a person that hasn't
                    already been said here, but feel free to contact me anytime! 
                    i won't bite ^_^ <br><span class="subtext">unless you're evil.. in which that case i will bite!! >:(</span>
                </p>
            </blockquote>
        </div>
    </div>

    <div style="margin-top: 120px; margin-left:50px; position: relative;">
        <div style="width: 10px; left:1ch; background: #8d8cd0; height: 20px; position:absolute; z-index: 6;"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 50px; top: -35px; left: 50px; height: 50px; position:absolute; border-right: 1px black solid; border-bottom: 1px black solid;"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 150px; top: -145px; left: -22px; height: 180px; position:absolute; border-left: 1px black solid; border-bottom: 1px black solid;"></div>

        <div style="pointer-events: none; opacity: 0.4; width: 15px; top: 25px; left: -20px; height: 60px; position:absolute; border-left: 1px black solid; border-bottom: 1px black solid;"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 17px; top: 65px; left: -24px; height: 40px; position:absolute; border-left: 1px black solid; border-bottom: 1px black solid;"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 12px; top: 75px; left: -22px; height: 40px; position:absolute; border-left: 1px black solid; border-bottom: 1px black solid;"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 14px; top: 95px; left: 10px; height: 40px; position:absolute; border-left: 1px black solid; border-bottom: 1px black solid;"></div>
        
        <h2 style="position: relative; z-index: 3; transform: scaleX(3); transform-origin: 0px 0px;">contact</h2>
        <p>feel free to say hi! here's my contacts:</p>
        <div style="position: relative;">
            <li style="position: absolute; top: -2; left:5px;">discord: <a href="https://discord.com/users/1121768865072947282">@wheathrea</a> (1121768865072947282)</li>
            <li style="position: absolute; top: 16px; left:16px;">email: <a href="mailto:noelle@doggypa.ws">noelle@doggypa.ws</a></li>
            <li style="position: absolute; top: 33px; left:-18px;">signal: @unsigned.64</li>
            <li style="position: absolute; top: 55px; left:35px;">git: <a href="https://git.encodeco.de/noelle">@noelle (git.encodeco.de)</a> or <a href="https://github.com/undrscre">@undrscre (github) (not updated)</a> </li>
        </div>
    </div>

    <div style="margin-top:100px; margin-left:20px; position: relative">
        <div style="width: 10px; left:4ch; background: #8d8cd0; height: 20px; position:absolute; z-index:1"></div>
        
        <h2 id="repo-header" style="transform: scaleX(3); transform-origin: 0px 0px;">projects</h2>
        <p class="">unavailable forever. check my git profiles</p>
        <noscript>requires javascript</noscript>
        <div id="repo-container" style="position:relative;"></div>
        <div id="connectors" style="position: absolute; top: -330px"></div>
    </div>

    <div style="margin-top:460px; margin-left:120px; position: relative">
        <div style="width: 10px; left:4ch; background: #8d8cd0; height: 20px; position:absolute; z-index:1"></div>
        
        <h2 id="lastfm-status" style="transform: scaleX(2); transform-origin: 0px 0px;"></h2>
        <p class="">🎧🎧🎧🎧🎧🎧🎧🎧🎧🎧🎧🎧🎧🎧🎧🎧</p>
        <div class="lastfm" style="display: flex; gap:1rem;">
				<noscript>
					requires javascript
				</noscript>
			</div>
        <div id="connectors" style="position: absolute; top: -330px"></div>

        <template id="lastfm-template">
			<img class="listening-art" alt="album art">
			<div style="position: relative; z-index:5;">
				<!-- todo: refactor because holy hell -->
				<h1 class="listening-title" style="width: 20ch; white-space: nowrap; text-overflow: ellipsis;"></h1>
				<p style="width: 40ch; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
					on <b class="splash album-name"></b>
					<br>by <b class="splash artist-name" style="margin-left: 1px;"></b>
				</p>
				<br>
				<a id="umm-haha">listen on lastfm</a> - 
				<span class="lastfm-link"></span>
			</div>
		</template>
    </div>

    <div style="margin-top:40px; margin-left:67px; position: relative">
        <div style="width: 50px; left:15ch; background: #8d8cd0; height: 20px; position:absolute; z-index:1"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 20px; top: -35px; left: 20px; height: 50px; position:absolute; border-left: 1px black solid; border-bottom: 1px black solid;"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 80px; top: -620px; left: 65px; height: 640px; position:absolute; border-right: 1px black solid; border-bottom: 1px black solid;"></div>
        <div style="pointer-events: none; opacity: 0.4; width: 80px; top: -640px; left: 25px; height: 640px; position:absolute; border-right: 1px black solid; border-bottom: 1px black solid;"></div>
        
        <h2 id="friends-header" style="transform: scaleX(4); transform-origin: 0px 0px;">friends</h2>
        <noscript>requires javascript for funny positioning</noscript>
        <div class="friends">
            <div id="connectors2" style="position: absolute; top: -330px"></div>
            <a href="https://ivrry.nekoweb.org" target="_blank"><img src="/assets/images/button.png"></a>
            {% for button in buttons.friends %}
            <a href="{{button.url}}" class="button-item" target="_blank">
                <img class="button-art" src="{{button.art}}" loading="lazy" 
                width="88" height="31"
                data-title="{{button.name}} <br> <i class='subtext'>{{button.url}}</i>" 
                title="{{button.name}} {{button.url}}"></a>
            {% endfor %}
            <p class="">if we're oomfs and you want your button added please contact me THNX</p>
        </div>
    </div>

    <div style="margin-top:300px; margin-left:800px; position: absolute; top:0;">
        <div style="width: 10px; left:4ch; background: #8d8cd0; height: 20px; position:absolute; z-index:1"></div>
        
        <h2 id="repo-header" style="transform: scaleX(3); transform-origin: 0px 0px;">comment section</h2>
        <noscript>requires javascript</noscript>
        <div id="c_widget" style="margin-top: 1rem;"></div>
        <script src="/assets/js/comments.js"></script>
    </div>

    <div style="margin-left:200px; margin-top:300px;">
        <h1 style="background:#8d8cd0; color:black;">It's all love ♡</h1>
    </div>

    <img src="/assets/images/image.png" style="width:200px; position: static; top: 0; right:0;">
    <script src="/assets/js/index.js" defer></script>
{% endblock %}

{% block custom %}
<!-- <div class="evil">
    <img src="/assets/images/fade.png" class="fader">
    <img src="/assets/images/pillars.jpg">
</div> -->
{% endblock %}