{% extends "_base.html" %}
{% block title %}ivy's home{% endblock %}
{% block css %}assets/css/index.css{% endblock %}
{% block content %}
	<fieldset>
		<legend>welcome to my site</legend>
		<img src="assets/images/title.gif" alt="ivrry.nekoweb.org" class="title" style="width:100%; image-rendering:pixelated;">
		<div style="position: relative;height: 50px;width: 100%;background: #cdd6f4;margin-top: 1rem;">
			<!-- imported from old nkko.me src -->
			<marquee style="display: flex;align-items: center;height: 100%;"><h1 id="splash-text" style="color: #10101a; font-size: 25px;"></h1></marquee>  

			<!-- YES this is hell i'm SORRY -->
			<img src="/assets/images/speech.png" alt="a speech bubble, containing the splash text" style="position: absolute; right:0px; top:50%; height:120%; image-rendering:pixelated; transform: translateY(-50%);">
			<img src="/assets/images/speech.png" alt="a speech bubble, containing the splash text" style="position: absolute; right:80px; top:50%; height:120%; image-rendering:pixelated; transform: translateY(-50%);">
			<img src="/assets/images/blabber.GIF" title="drawn by @caviarr39!" alt="an animated gif of Niko, speaking" style="position: absolute; z-index:15; right:-13px; top:50%; image-rendering:pixelated; height:240%; transform: translateY(-60%);">
			<img src="/assets/images/speech-end.png" alt="a speech bubble, containing the splash text" style="position: absolute; left:0px; top:50%; height:120%; image-rendering:pixelated; transform: translateY(-50%);">
		</div>
	</fieldset>
	<fieldset style="position: relative;">
		<legend>about this site!!</legend>
		<div>
			<div class="nkko-stars" style="width:250px; height:230px; float: right; margin-left: 1rem; position: relative;">
				<img src="/assets/images/gleach.gif" class="deco" style="width: 250px; left:-30px; position: absolute;">
				<img src="/assets/images/teapot.gif" class="deco" style="position: absolute; width: 300px; bottom:-30px; right:-70px; image-rendering: pixelated;">
			</div>
			<p style="margin-bottom:0; margin-top:0;">
				hello world! i'm ivy and this is my humble abode! ^_^
			</p>
			<p style="text-align:justify;">
				this site was created to serve the purpose as 
				my little dumping grounds for whatever i do on the 
				interwebs :3
			</p>
			<!-- <p>
				as i'm sure you're aware right now there's
				not much here, but i'm working on it!
				<s>most links will be broken because i haven't
				implemented those yet so. sorry!</s> haha
				please be patient with me as i try to make
				this site as cool as possible!</s>
			</p> -->
			<p style="text-align:justify;">
				this website is essentially finished and won't 
				be recieveing alot of huge updates, thanks to those
				who has helped me throughout the development n
				thank you for supporting me n my little webspace ^_^
			</p>
			<p>made with love, by <a href="/about">ivory willows!!</a></p>
		</div>
	</fieldset>
	<!-- <fieldset class="warning">
        <legend>uh oh!! dead links alert!!</legend>
        <h2 style="text-align: center;">nkko.me is expiring soon!!</h2>
		<p>for those who still hotlinks the old button, please please please change and redirect the button 
			to ivrry.nekoweb.org!! much thnx, from ivy &lt;3
		</p>
    </fieldset> -->
	<fieldset class="thoughts" style="position: relative;">
		<legend>how i'm feeling rn:</legend>
		<div class="thoughts-sidebar">
			<img src="assets/images/pfp.png" alt="ivy's pfp" class="pfp">
			<!-- <a class="past-thoughts" href="thoughts.html">past thoughts</a> -->
		</div>
		<div class="thought-content">
			<span>
				<h2 class="splash">Ivory Willows</h2>
				<span id="thoughts-feeling"></span><span class="subtext" id="thoughts-timestamp">loading..</span>
			</span>
			<p id="thoughts-content">
				loading status cafe...
				<noscript>
					<br>if you see this, javascript is disabled! please enable it :)
				</noscript>
			</p>
		</div>
		<img src="assets/images/balloon.gif" alt="" class="deco" style="height:80px; margin-left:auto; z-index: 2; position: relative;">
	</fieldset>
	<fieldset class="lastfm" style="display: flex; gap: 1rem;">
		<img src="/assets/images/bendylook.gif" draggable="false" class="deco bendy" title="bendy leau :)" loading="lazy">
		<noscript>
			<p>you need javascript enabled to see what i'm listening to!</p>
			<p>you can also check out my <a href="https://www.last.fm/user/undrscr_">last.fm</a> profile</p>
			<p>but if u don't wanna, that's ok :)
		</noscript>
		<img src="assets/images/cd.gif" alt="" class="cd deco">
		<template id="lastfm-template">
			<legend></legend>
			<img class="listening-art" alt="album art">
			<div style="position: relative; z-index:5;">
				<!-- todo: refactor because holy hell -->
				<h1 class="listening-title" style="width: 20ch; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></h1>
				<p style="width: 40ch; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
					on <b class="splash album-name"></b>
					<br>by <b class="splash artist-name"></b>
				</p>
				<br>
				<span class="lastfm-link"></span>
			</div>
		</template>
	</fieldset>
	<!-- feature will never be implemented, sorry lol -->
	<!-- <fieldset id="chatbox">
		<legend>talk to people!</legend>
		<div id="webchat-channels">
			<button id="webchat-global">#global</button>
			<button id="webchat-local">#local</button>
		</div>
		<div id="webchat-chatbox">
		<span><b class="splash">SYSTEM:</b> write something to enter the chatbox ^_^</span>
		</div>
		<div class="webchat-controls">
			<input type="text" id="webchat-mesgbox" placeholder="message!">
			<input type="text" id="webchat-namebox" placeholder="name (optional)">
			<button id="webchat-sendbtn">submit</button>
		</div>
	</fieldset>	 -->
	<iframe class="deco" src="https://john.citrons.xyz/embed?ref=ivrry.nekoweb.org" loading="lazy" style="margin-left:auto;display:block;margin-right:auto;max-width:732px;width:100%;height:74px;border:none;"></iframe>
	<div class="webrings" style="display:flex; gap: 1rem;">
		<iframe id="bucket-webring" loading="lazy" style="flex-grow:1;height: 3rem; border: none;" src="/assets/html/bucket.html"></iframe> 
		<div class="ssgring">
			<a href="https://jbcarreon123.nekoweb.org/webrings/ssgring/redirect?slug=ivrry&way=prev">&lt; prev</a>
			<a href="https://jbcarreon123.nekoweb.org/webrings/ssgring/redirect?slug=ivrry&way=prev">ssgring</a>
			<a href="https://jbcarreon123.nekoweb.org/webrings/ssgring/redirect?slug=ivrry&way=next">next &gt;</a>
		</div>
	</div>
	<img src="assets/images/lights.gif" alt="" class="lights">
	<script src="/assets/js/index.js"></script>
	<script src="/assets/js/splash.js"></script>
	<!-- <script src="/assets/js/webchat.js"></script> -->
{% endblock %}
