{% extends "_base.html" %}
{% block title %}home - sanctuary{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}
{% block content %}
    <fieldset>
        <legend>hello</legend>
        <div class="note-padding"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quae dolor at blanditiis libero, velit minima adipisci aut? Enim quo eum ex, nihil quibusdam magnam dolor non deleniti quas perferendis?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quae dolor at blanditiis libero, velit minima adipisci aut? Enim quo eum ex, nihil quibusdam magnam dolor non deleniti quas perferendis?</p>

        <div class="sticky-note">
            <img src="/assets/images/awa.png">
            <p>hello world</p>
        </div>
    </fieldset>

    <div class="flex">
        <!-- <div class="deco space-deco1 filter"></div> -->
        <fieldset>
            <legend>hello</legend>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quae dolor at blanditiis libero, velit minima adipisci aut? Enim quo eum ex, nihil quibusdam magnam dolor non deleniti quas perferendis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quae dolor at blanditiis libero, velit minima adipisci aut? Enim quo eum ex, nihil quibusdam magnam dolor non deleniti quas perferendis?</p>
        </fieldset>
    </div>
{% endblock %}