{% extends "_base.html" %}
{% block title %}ivy's home - about{% endblock %}
{% block css %}assets/css/projects.css{% endblock %}
{% block content %}
	<fieldset>
		<legend>my projects :)</legend>
		<img src="assets/images/projects.gif" alt="projects" style="width:100%; image-rendering:pixelated;">
		<p>
			this page contains all my publics repository in which you can find in my <br>
			<a href="https://github.com/undrscre">github profile</a>, most of them aren't impressive
			but they're here for future keeping
		</p>
	</fieldset>
	{% for repo in repos %}
		{% if loop.last %}
		<div style="position: relative;">
			<fieldset style="display: flex; overflow: hidden; position: relative;">
				<div>
					<h1><a href="{{repo.html_url}}">{{repo.name}}</a></h1>
					<p>{{ repo.description_or_default() }}<br>
					<span class="subtext">written in {{ repo.language_or_default() }} / {{ repo.stargazers_count }} stars. </span></p>
				</div>
				<img style="display: block; height: 100px; width: auto; right: 1rem; bottom: -1rem; position: absolute;" src="{{ repo.image_or_default() }}">
			</fieldset>
			<img src="/assets/images/fall.gif" class="deco" style="position: absolute; bottom:-380px; width: 300; right:-50px; pointer-events: none;">
		</div>
		{% else %}
		<fieldset style="display: flex; overflow: hidden; position: relative;">
			<div>
				<h1><a href="{{repo.html_url}}">{{repo.name}}</a></h1>
				<p>{{ repo.description_or_default() }}<br>
				<span class="subtext">written in {{ repo.language_or_default() }} / {{ repo.stargazers_count }} stars. </span></p>
			</div>
			<img style="display: block; height: 100px; width: auto; right: 1rem; bottom: -1rem; position: absolute;" src="{{ repo.image_or_default() }}">
		</fieldset>
		{% endif %}
    {% endfor %}
{% endblock %}
